.card-container{
    margin: 0;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
 
  }
  
  .card{
    width:350px;
    height: 420px;
    margin-left: 40px;
    background-color: white;
    margin-top: 3vh;
  }

.cardtitle{
  font-size: 20px;
  white-space: nowrap;
  margin: 10px;
}

.images-card{
  height: auto;
  width: 300px;
  margin: 25px;
}

.about{
 color: #55a0ae;
 text-decoration: none;
 margin-left: 25px;
}