.home {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #dfe2e2fe;
    height: 8000px;
}
.home__image {
    /* margin-top: 0;
    margin: 0;
    z-index: -1;
    min-height: 80%;*/
    min-width: 100%;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
