

.search{
    display:flex;
    align-items: center;
    background: #f3f3f3 ;
    color: black;
    padding: 5px;
    font-size: 12px;

    padding: 0;
    border: 1px solid red;
    width: 200%;
 
}

.barre {
    height: 30px;
    width: 250px;
    margin: 0;
    padding: 0;
   
}

.searchcontainer{
    width: 700px;
}

