

.search{
    display:flex;
    align-items: center;
    background: #f3f3f3 ;
    color: black; 
    font-size: 12px;
    width: 400px;

}


.search input{
    width: 100%;
}
.barre {
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.searchcontainer{
  width: 100%; 
}

